
body{
   /* background-color: darkblue;
    color: white;*/
}
h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    color: purple;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size:18pt;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

.navitem{
    float: left;
}


.navitem a{
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: purple;
}

.navitem a:hover{
    color: red;
}

.logo_base{
    position: relative;
    top: 10px;
    width: 45px;
}
.logo_top{
    position: absolute;
    width: 37px;
    top: 22px;
    left: 14px;
}

.grid-container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
}



/*
section{
    display: flex;
}

aside{
    flex: 1
}

article{
    flex: 3
}
*/
img{
    width: 100%;
}

.big-picture{
    width: 75%;
}